@import "tailwindcss";

:root {
  --color-background: #050505;
  --color-foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

::selection {
  background-color: rgba(59, 130, 246, 0.3);
  color: white;
}

select option {
  background-color: #1f2937;
  color: #e5e7eb;
}
